flow.json
[{"id":"2ed7376a.a0a108","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"81c36675.7d89a8","type":"tab","label":"Prueba","disabled":false,"info":""},{"id":"e79451ec.d2374","type":"tab","label":"Correo","disabled":false,"info":""},{"id":"c382c1fc.71876","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"fa8884f9.cf4788","type":"ui_tab","z":"","name":"Flotador Tester","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ae2cc554.fc03e8","type":"ui_group","z":"","name":"Salida","tab":"fa8884f9.cf4788","order":2,"disp":true,"width":"6","collapse":true},{"id":"10d24b50.0bb175","type":"ui_group","z":0,"name":"Manual","tab":"fa8884f9.cf4788","order":1,"disp":true,"width":"6","collapse":false},{"id":"229e5045.b2a5c","type":"ui_group","z":0,"name":"Test","tab":"fa8884f9.cf4788","order":3,"disp":true,"width":"6","collapse":false},{"id":"4dfd40f0.c673e","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b8e6983f.f64258","type":"ui_tab","z":"","name":"Flotador Graficas","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e87edc11.cf6c9","type":"ui_group","z":"","name":"Test","tab":"b8e6983f.f64258","disp":true,"width":"6","collapse":false},{"id":"a2fcbdb.b54944","type":"ui_tab","z":"","name":"Prueba Sensor de Nivel","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"75a6194b.b9c9d8","type":"ui_group","z":"","name":"Configuraciones","tab":"a2fcbdb.b54944","disp":true,"width":"6","collapse":false},{"id":"d3ac1255.54953","type":"ui_group","z":"","name":"Extra Datos","tab":"a2fcbdb.b54944","disp":true,"width":"6","collapse":false},{"id":"228fd66b.158a9a","type":"serial in","z":"2ed7376a.a0a108","name":"","serial":"c382c1fc.71876","x":130,"y":120,"wires":[["4836afbf.ae4cd","ce896f6f.406ee"]]},{"id":"b25b3855.cdb898","type":"serial out","z":"2ed7376a.a0a108","name":"","serial":"c382c1fc.71876","x":680,"y":300,"wires":[]},{"id":"d18e0cd8.af6d","type":"switch","z":"2ed7376a.a0a108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"POS:","vt":"str"},{"t":"cont","v":"OHM:","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":100,"wires":[["9f685c7a.596d8"],["53a6b885.97a148"]]},{"id":"f0ecb318.62288","type":"function","z":"2ed7376a.a0a108","name":"","func":"var mover = msg.payload\nglobal.set('mover',mover);\n","outputs":1,"noerr":0,"x":330,"y":420,"wires":[[]]},{"id":"5e3b9a9d.3eab14","type":"csv","z":"2ed7376a.a0a108","name":"","sep":"\\t","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":330,"y":100,"wires":[["fc944f98.5df6c"]]},{"id":"fc944f98.5df6c","type":"split","z":"2ed7376a.a0a108","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":100,"wires":[["d18e0cd8.af6d"]]},{"id":"9f685c7a.596d8","type":"csv","z":"2ed7376a.a0a108","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":690,"y":60,"wires":[["e5937b9.ec0a288"]]},{"id":"e5937b9.ec0a288","type":"split","z":"2ed7376a.a0a108","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":60,"wires":[["7d279a8b.adfca4"]]},{"id":"b474d56f.2438d8","type":"function","z":"2ed7376a.a0a108","name":"","func":"var graf = {topic:\"Posición\", payload:msg.payload, timestamp: new Date() }\n\nreturn graf;","outputs":1,"noerr":0,"x":1050,"y":60,"wires":[["9bb0acb5.d035e","c290fb9b.ef4e18"]]},{"id":"2c9f8a5c.2ad766","type":"function","z":"2ed7376a.a0a108","name":"","func":"var graf2 ={topic:\"Ohms\", payload:msg.payload, timestamp: new Date()};\n\nreturn graf2;","outputs":1,"noerr":0,"x":1050,"y":140,"wires":[["9bb0acb5.d035e","c290fb9b.ef4e18"]]},{"id":"7d279a8b.adfca4","type":"switch","z":"2ed7376a.a0a108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":60,"wires":[["b474d56f.2438d8"]]},{"id":"53a6b885.97a148","type":"csv","z":"2ed7376a.a0a108","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":690,"y":140,"wires":[["378eb4e0.86d82c"]]},{"id":"378eb4e0.86d82c","type":"split","z":"2ed7376a.a0a108","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":140,"wires":[["dd820804.6c1d28"]]},{"id":"dd820804.6c1d28","type":"switch","z":"2ed7376a.a0a108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":140,"wires":[["2c9f8a5c.2ad766"]]},{"id":"72652dd5.0e9244","type":"inject","z":"2ed7376a.a0a108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":240,"wires":[[]]},{"id":"c873bfff.86c7c","type":"function","z":"2ed7376a.a0a108","name":"","func":"var mover = global.get('mover')||0;\n\nmsg.payload = '#' + mover + 'OK';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["b25b3855.cdb898"]]},{"id":"3e9376af.dcddca","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$H","payloadType":"str","topic":"","x":150,"y":180,"wires":[["b25b3855.cdb898"]]},{"id":"6ba5867.7d0db78","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":2,"width":0,"height":0,"passthru":false,"label":"+10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"#10OK","payloadType":"str","topic":"","x":150,"y":240,"wires":[["b25b3855.cdb898"]]},{"id":"21f47554.4e776a","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":3,"width":0,"height":0,"passthru":false,"label":"-10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"#-10OK","payloadType":"str","topic":"","x":150,"y":300,"wires":[["b25b3855.cdb898"]]},{"id":"28298de4.f097e2","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"e87edc11.cf6c9","order":1,"width":0,"height":0,"passthru":false,"label":"Continuidad","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$C","payloadType":"str","topic":"","x":170,"y":360,"wires":[["b25b3855.cdb898"]]},{"id":"cdcd10f1.4f8dd","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":5,"width":0,"height":0,"passthru":false,"label":"Mover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":480,"wires":[["c873bfff.86c7c"]]},{"id":"b9c3e707.a5b828","type":"ui_text_input","z":"2ed7376a.a0a108","name":"","label":"Salida de texto","tooltip":"","group":"ae2cc554.fc03e8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":360,"y":20,"wires":[[]]},{"id":"1b9ecb7d.fd77e5","type":"ui_text_input","z":"2ed7376a.a0a108","name":"","label":"","tooltip":"","group":"10d24b50.0bb175","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":170,"y":420,"wires":[["f0ecb318.62288"]]},{"id":"dd85e641.4ef388","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":6,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":840,"wires":[["57877acc.c02434"]]},{"id":"57877acc.c02434","type":"exec","z":"2ed7376a.a0a108","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":840,"wires":[[],[],[]]},{"id":"9bb0acb5.d035e","type":"ui_chart","z":"2ed7376a.a0a108","name":"","group":"ae2cc554.fc03e8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":60,"wires":[[]]},{"id":"e51c45f8.48bcd8","type":"ui_numeric","z":"2ed7376a.a0a108","name":"","label":"Limite Superior","tooltip":"","group":"e87edc11.cf6c9","order":1,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"200","step":1,"x":180,"y":540,"wires":[["55a53e2d.9329"]]},{"id":"55a53e2d.9329","type":"function","z":"2ed7376a.a0a108","name":"","func":"var superior = msg.payload\nglobal.set('superior',superior);","outputs":1,"noerr":0,"x":370,"y":560,"wires":[[]]},{"id":"a666bed6.55703","type":"ui_numeric","z":"2ed7376a.a0a108","name":"","label":"Limite Inferior","tooltip":"","group":"e87edc11.cf6c9","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"-100","max":"0","step":1,"x":180,"y":580,"wires":[["c5154bea.e96608"]]},{"id":"c5154bea.e96608","type":"function","z":"2ed7376a.a0a108","name":"","func":"var inferior = msg.payload\nglobal.set('inferior',inferior);","outputs":1,"noerr":0,"x":370,"y":600,"wires":[[]]},{"id":"9edd83e0.0f32d","type":"ui_numeric","z":"2ed7376a.a0a108","name":"","label":"Pasos","tooltip":"","group":"e87edc11.cf6c9","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10","step":"0.01","x":150,"y":640,"wires":[["84921dbf.315e7"]]},{"id":"84921dbf.315e7","type":"function","z":"2ed7376a.a0a108","name":"","func":"var pasos = msg.payload\nglobal.set('pasos',pasos);","outputs":1,"noerr":0,"x":370,"y":640,"wires":[[]]},{"id":"ed3f749d.6e49f8","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"e87edc11.cf6c9","order":4,"width":0,"height":0,"passthru":false,"label":"Iniciar Test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":720,"wires":[["440bb94d.c42438"]]},{"id":"28f90f91.72a2","type":"ui_text_input","z":"2ed7376a.a0a108","name":"","label":"Salida de texto","tooltip":"","group":"e87edc11.cf6c9","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":160,"y":20,"wires":[[]]},{"id":"c290fb9b.ef4e18","type":"ui_chart","z":"2ed7376a.a0a108","name":"","group":"e87edc11.cf6c9","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":140,"wires":[[]]},{"id":"440bb94d.c42438","type":"function","z":"2ed7376a.a0a108","name":"","func":"var superior = global.get('superior')||0;\n\nmsg.payload = '/' + superior + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["1df6c632.f5b8ba","b25b3855.cdb898"]]},{"id":"e7f2c149.8865d","type":"delay","z":"2ed7376a.a0a108","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":680,"wires":[[]]},{"id":"4836afbf.ae4cd","type":"delay","z":"2ed7376a.a0a108","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":80,"wires":[["b9c3e707.a5b828","5e3b9a9d.3eab14","28f90f91.72a2"]]},{"id":"1df6c632.f5b8ba","type":"delay","z":"2ed7376a.a0a108","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":640,"wires":[["7806c676.4e52d8"]]},{"id":"7806c676.4e52d8","type":"function","z":"2ed7376a.a0a108","name":"","func":"var inferior = global.get('inferior')||0;\n\nmsg.payload = '%' + inferior + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["e1db3b42.bbf9f8","b25b3855.cdb898"]]},{"id":"e1db3b42.bbf9f8","type":"delay","z":"2ed7376a.a0a108","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":520,"wires":[["1ce8983a.aafb48"]]},{"id":"1ce8983a.aafb48","type":"function","z":"2ed7376a.a0a108","name":"","func":"var pasos = global.get('pasos')||0;\n\nmsg.payload = '&' + pasos + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["8896681c.214588","b25b3855.cdb898"]]},{"id":"8896681c.214588","type":"delay","z":"2ed7376a.a0a108","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":400,"wires":[["dbdee7d5.2925c8"]]},{"id":"dbdee7d5.2925c8","type":"function","z":"2ed7376a.a0a108","name":"","func":"msg.payload = '$T'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["b25b3855.cdb898"]]},{"id":"b2434282.dce35","type":"function","z":"2ed7376a.a0a108","name":"Enviar a home","func":"msg.payload = '$H'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":680,"wires":[[]]},{"id":"239b6e8b.51fa92","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"e87edc11.cf6c9","order":7,"width":0,"height":0,"passthru":false,"label":"Descargar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":1020,"wires":[[]]},{"id":"4650688.8bf0998","type":"debug","z":"2ed7376a.a0a108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":1000,"wires":[]},{"id":"9c1037c8.8261c8","type":"link in","z":"2ed7376a.a0a108","name":"Puerto","links":["63e24eea.d8177","99fa8422.5893b8"],"x":540,"y":260,"wires":[["b25b3855.cdb898"]]},{"id":"63e24eea.d8177","type":"link out","z":"81c36675.7d89a8","name":"Prueba","links":["9c1037c8.8261c8"],"x":335,"y":40,"wires":[]},{"id":"c09bd695.b59a08","type":"function","z":"81c36675.7d89a8","name":"","func":"var lleno = msg.payload\nglobal.set('lleno',lleno)","outputs":1,"noerr":0,"x":510,"y":300,"wires":[[]]},{"id":"18feb74e.328cb9","type":"function","z":"81c36675.7d89a8","name":"","func":"var vacio = msg.payload\nglobal.set('vacio',vacio);","outputs":1,"noerr":0,"x":510,"y":100,"wires":[[]]},{"id":"1116e862.1e27c8","type":"function","z":"81c36675.7d89a8","name":"","func":"var reserva = msg.payload\nglobal.set('reserva',reserva);","outputs":1,"noerr":0,"x":510,"y":140,"wires":[[]]},{"id":"26fe5a5f.31f7e6","type":"ui_button","z":"81c36675.7d89a8","name":"","group":"75a6194b.b9c9d8","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$H","payloadType":"str","topic":"","x":230,"y":40,"wires":[["63e24eea.d8177"]]},{"id":"563a7cd3.752df4","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Lleno","tooltip":"","group":"75a6194b.b9c9d8","order":8,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":330,"y":320,"wires":[["c09bd695.b59a08"]]},{"id":"69fcef57.91372","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Vacio","tooltip":"","group":"75a6194b.b9c9d8","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":330,"y":120,"wires":[["18feb74e.328cb9"]]},{"id":"727c245f.2a04dc","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Reserva","tooltip":"","group":"75a6194b.b9c9d8","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":320,"y":160,"wires":[["1116e862.1e27c8"]]},{"id":"e0e296c.433d268","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"1/4","tooltip":"","group":"75a6194b.b9c9d8","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":330,"y":200,"wires":[["1ae1eaef.34e1c5"]]},{"id":"b0b97122.96e64","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"1/2","tooltip":"","group":"75a6194b.b9c9d8","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":330,"y":240,"wires":[["8ab7aa9a.c82748"]]},{"id":"dd7f4cc7.b318a","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"3/4","tooltip":"","group":"75a6194b.b9c9d8","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":310,"y":280,"wires":[["e37aace6.75ce8"]]},{"id":"1ae1eaef.34e1c5","type":"function","z":"81c36675.7d89a8","name":"","func":"var uncuarto = msg.payload\nglobal.set('uncuarto',uncuarto);","outputs":1,"noerr":0,"x":510,"y":180,"wires":[[]]},{"id":"8ab7aa9a.c82748","type":"function","z":"81c36675.7d89a8","name":"","func":"var medio = msg.payload\nglobal.set('medio',medio);","outputs":1,"noerr":0,"x":510,"y":220,"wires":[[]]},{"id":"e37aace6.75ce8","type":"function","z":"81c36675.7d89a8","name":"","func":"var trescuarto = msg.payload\nglobal.set('trescuarto',trescuarto);","outputs":1,"noerr":0,"x":510,"y":260,"wires":[[]]},{"id":"47ea5580.da848c","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Fin","tooltip":"","group":"75a6194b.b9c9d8","order":9,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":330,"y":360,"wires":[["85b795c0.2e9598"]]},{"id":"85b795c0.2e9598","type":"function","z":"81c36675.7d89a8","name":"","func":"var fin = msg.payload\nglobal.set('fin',fin)","outputs":1,"noerr":0,"x":510,"y":340,"wires":[[]]},{"id":"f3a64cde.b8075","type":"e-mail","z":"e79451ec.d2374","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":590,"y":400,"wires":[]},{"id":"38a2d350.85f25c","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Inicio","tooltip":"","group":"75a6194b.b9c9d8","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":330,"y":80,"wires":[["3012fdc1.b6c912"]]},{"id":"3012fdc1.b6c912","type":"function","z":"81c36675.7d89a8","name":"","func":"var inicio = msg.payload\nglobal.set('inicio',inicio);","outputs":1,"noerr":0,"x":510,"y":60,"wires":[[]]},{"id":"5f832c07.732884","type":"function","z":"81c36675.7d89a8","name":"inicio","func":"var inicio = global.get('inicio')||0;\n\nmsg.payload = '%' + inicio + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":540,"wires":[["cdd6bdd7.c0c26","99fa8422.5893b8"]]},{"id":"cdd6bdd7.c0c26","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":580,"wires":[["9466a40c.d292d8"]]},{"id":"9466a40c.d292d8","type":"function","z":"81c36675.7d89a8","name":"vacio","func":"var vacio = global.get('vacio')||0;\n\nmsg.payload = 'X' + vacio + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":620,"wires":[["7ea3984e.a8b738","99fa8422.5893b8"]]},{"id":"7ea3984e.a8b738","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":660,"wires":[["ce0d2449.c2cdb8"]]},{"id":"ce0d2449.c2cdb8","type":"function","z":"81c36675.7d89a8","name":"reserva","func":"var reserva = global.get('reserva')||0;\n\nmsg.payload = 'Y' + reserva + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":700,"wires":[["99fa8422.5893b8","46b71045.d111d"]]},{"id":"a2431826.39b568","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1120,"wires":[["3c0660a1.54cf2"]]},{"id":"3c0660a1.54cf2","type":"function","z":"81c36675.7d89a8","name":"Prueba","func":"msg.payload = '$P'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":1120,"wires":[["99fa8422.5893b8","d5adf63.c12dd08"]]},{"id":"265a36a2.2f802a","type":"ui_button","z":"81c36675.7d89a8","name":"","group":"75a6194b.b9c9d8","order":9,"width":0,"height":0,"passthru":false,"label":"Iniciar Prueba","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":480,"wires":[["5f832c07.732884","f2685e82.cbb92"]]},{"id":"99fa8422.5893b8","type":"link out","z":"81c36675.7d89a8","name":"Prueba","links":["9c1037c8.8261c8"],"x":755,"y":820,"wires":[]},{"id":"46b71045.d111d","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":740,"wires":[["17026962.477447"]]},{"id":"17026962.477447","type":"function","z":"81c36675.7d89a8","name":"1/4","func":"var uncuarto = global.get('uncuarto')||0;\n\nmsg.payload = 'Z' + uncuarto + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":780,"wires":[["a8a25df8.c3de5","99fa8422.5893b8"]]},{"id":"ce896f6f.406ee","type":"link out","z":"2ed7376a.a0a108","name":"Respuesta","links":["b60eaa9b.542c48","41317b26.189104"],"x":255,"y":140,"wires":[]},{"id":"b60eaa9b.542c48","type":"link in","z":"81c36675.7d89a8","name":"","links":["ce896f6f.406ee"],"x":475,"y":420,"wires":[["792118f7.5f17a8"]]},{"id":"792118f7.5f17a8","type":"ui_text","z":"81c36675.7d89a8","group":"75a6194b.b9c9d8","order":10,"width":0,"height":0,"name":"","label":"Respuesta","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":420,"wires":[]},{"id":"a8a25df8.c3de5","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":820,"wires":[["ae9cd84a.5ff168"]]},{"id":"ae9cd84a.5ff168","type":"function","z":"81c36675.7d89a8","name":"1/2","func":"var medio = global.get('medio')||0;\n\nmsg.payload = 'J' + medio + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":860,"wires":[["99fa8422.5893b8","af38bb52.5d42e8"]]},{"id":"af38bb52.5d42e8","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":900,"wires":[["18bb601.5e200a"]]},{"id":"18bb601.5e200a","type":"function","z":"81c36675.7d89a8","name":"3/4","func":"var trescuarto = global.get('trescuarto')||0;\n\nmsg.payload = 'K' + trescuarto + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":940,"wires":[["99fa8422.5893b8","a26bc61a.0ecc58"]]},{"id":"a26bc61a.0ecc58","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":980,"wires":[["f79ee0a9.05e3f"]]},{"id":"f79ee0a9.05e3f","type":"function","z":"81c36675.7d89a8","name":"Lleno","func":"var lleno = global.get('lleno')\n\nmsg.payload = 'Q' + lleno\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":1020,"wires":[["99fa8422.5893b8","1c115094.aca86f"]]},{"id":"1c115094.aca86f","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":1060,"wires":[["a3168c91.8f7c4"]]},{"id":"a3168c91.8f7c4","type":"function","z":"81c36675.7d89a8","name":"Fin","func":"var fin = global.get('fin')||0;\n\nmsg.payload = '/' + fin + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":1100,"wires":[["99fa8422.5893b8","a2431826.39b568"]]},{"id":"828a0384.f205","type":"ui_button","z":"81c36675.7d89a8","name":"","group":"75a6194b.b9c9d8","order":11,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":130,"y":200,"wires":[["38a2d350.85f25c","69fcef57.91372","727c245f.2a04dc","e0e296c.433d268","b0b97122.96e64","dd7f4cc7.b318a","563a7cd3.752df4","47ea5580.da848c"]]},{"id":"5c603e0d.500cc","type":"ui_text_input","z":"e79451ec.d2374","name":"","label":"Correo","tooltip":"","group":"75a6194b.b9c9d8","order":13,"width":0,"height":0,"passthru":true,"mode":"email","delay":"0","topic":"","x":230,"y":320,"wires":[["754b52e8.c1c04c"]]},{"id":"754b52e8.c1c04c","type":"function","z":"e79451ec.d2374","name":"","func":"var correo1 = msg.payload\n\nglobal.set(\"correo\",correo1)\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[[]]},{"id":"1b8eb068.ceaf9","type":"ui_button","z":"e79451ec.d2374","name":"","group":"75a6194b.b9c9d8","order":12,"width":0,"height":0,"passthru":false,"label":"Enviar Correo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":400,"wires":[["7130b2ea.b6827c"]]},{"id":"7130b2ea.b6827c","type":"function","z":"e79451ec.d2374","name":"","func":"var correo1 = global.get(\"correo\")\n\n\n    msg.to = correo1\n    msg.payload = \"Resultados de la prueba\"\n    msg.topic = \"Resultados de pruebas\"\n    \n   msg.attachments = [{\n    filename: 'archivo.txt',\n    path: '/home/pi/Desktop/archivo.txt',\n    content: msg.payload\n}];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["f3a64cde.b8075"]]},{"id":"f2685e82.cbb92","type":"file","z":"81c36675.7d89a8","name":"","filename":"/home/pi/Desktop/archivo.txt","appendNewline":false,"createDir":true,"overwriteFile":"delete","encoding":"none","x":500,"y":480,"wires":[[]]},{"id":"df83c5d1.3f7058","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Nombre","tooltip":"","group":"d3ac1255.54953","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":900,"y":560,"wires":[["146606d0.ea0b09"]]},{"id":"5340dc08.cd1e54","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Numero de Parte","tooltip":"","group":"d3ac1255.54953","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":930,"y":620,"wires":[["9771a14b.7fa3b"]]},{"id":"3ed62b72.9f86f4","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Fecha de Muestra","tooltip":"","group":"d3ac1255.54953","order":14,"width":0,"height":0,"passthru":true,"mode":"week","delay":"0","topic":"","x":930,"y":660,"wires":[["10cce214.1731be"]]},{"id":"62b5d026.9f7b5","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Estatus de dibujo","tooltip":"","group":"d3ac1255.54953","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":930,"y":700,"wires":[["fa663ca4.41561"]]},{"id":"62a824f9.23decc","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Numero de Muestra","tooltip":"","group":"d3ac1255.54953","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":940,"y":740,"wires":[["88edeee6.52252"]]},{"id":"6a3b5325.06aafc","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Tipo de Prueba","tooltip":"","group":"d3ac1255.54953","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":920,"y":780,"wires":[["f9bc8e2.8a9cd7"]]},{"id":"b26002eb.b5c59","type":"ui_text_input","z":"81c36675.7d89a8","name":"","label":"Comentarios","tooltip":"","group":"d3ac1255.54953","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":910,"y":820,"wires":[["1cc67a5c.f6cec6"]]},{"id":"146606d0.ea0b09","type":"function","z":"81c36675.7d89a8","name":"","func":"var nombre = msg.payload\nglobal.set('nombre',nombre);","outputs":1,"noerr":0,"x":1150,"y":580,"wires":[[]]},{"id":"9771a14b.7fa3b","type":"function","z":"81c36675.7d89a8","name":"","func":"var nparte = msg.payload\nglobal.set('nparte',nparte);","outputs":1,"noerr":0,"x":1150,"y":620,"wires":[[]]},{"id":"1e1b4038.82804","type":"file","z":"81c36675.7d89a8","name":"","filename":"/home/pi/Desktop/archivo.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1100,"y":1120,"wires":[[]]},{"id":"e24d9cb5.d7faa","type":"function","z":"81c36675.7d89a8","name":"Resultados-Metadatos","func":"var nombre = global.get('nombre')\nvar nparte = global.get('nparte')\nvar fmuestra = global.get('fmuestra')\n\nmsg.payload = 'Nombre:' + nombre + '\\n'\nmsg.payload += 'Numero de Parte: ' + nparte + '\\n'\nmsg.payload += 'Fecha de muestra: ' + fmuestra + '\\n'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":860,"y":1200,"wires":[["1e1b4038.82804"]]},{"id":"41317b26.189104","type":"link in","z":"81c36675.7d89a8","name":"","links":["ce896f6f.406ee"],"x":875,"y":1020,"wires":[["1e1b4038.82804"]]},{"id":"d5adf63.c12dd08","type":"delay","z":"81c36675.7d89a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":1120,"wires":[["e24d9cb5.d7faa"]]},{"id":"10cce214.1731be","type":"function","z":"81c36675.7d89a8","name":"","func":"var fmuestra = msg.payload\nglobal.set('fmuestra',fmuestra);","outputs":1,"noerr":0,"x":1150,"y":660,"wires":[[]]},{"id":"fa663ca4.41561","type":"function","z":"81c36675.7d89a8","name":"","func":"var edibujo = msg.payload\nglobal.set('edibujo',edibujo);","outputs":1,"noerr":0,"x":1150,"y":700,"wires":[[]]},{"id":"88edeee6.52252","type":"function","z":"81c36675.7d89a8","name":"","func":"var nmuestra = msg.payload\nglobal.set('nmuestra',nmuestra);","outputs":1,"noerr":0,"x":1150,"y":740,"wires":[[]]},{"id":"f9bc8e2.8a9cd7","type":"function","z":"81c36675.7d89a8","name":"","func":"var tprueba = msg.payload\nglobal.set('tprueba',tprueba);","outputs":1,"noerr":0,"x":1150,"y":780,"wires":[[]]},{"id":"1cc67a5c.f6cec6","type":"function","z":"81c36675.7d89a8","name":"","func":"var comentarios = msg.payload\nglobal.set('comentarios',comentarios);","outputs":1,"noerr":0,"x":1150,"y":820,"wires":[[]]}]