flow.json
[{"id":"2ed7376a.a0a108","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c382c1fc.71876","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"ae2cc554.fc03e8","type":"ui_group","z":"","name":"Salida","tab":"fa8884f9.cf4788","order":1,"disp":true,"width":"6","collapse":true},{"id":"4dfd40f0.c673e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fa8884f9.cf4788","type":"ui_tab","z":"","name":"Controles","icon":"dashboard","disabled":false,"hidden":false},{"id":"10d24b50.0bb175","type":"ui_group","z":"","name":"Manual","tab":"fa8884f9.cf4788","order":2,"disp":true,"width":"6","collapse":false},{"id":"229e5045.b2a5c","type":"ui_group","z":"","name":"Test","tab":"fa8884f9.cf4788","disp":true,"width":"6","collapse":false},{"id":"228fd66b.158a9a","type":"serial in","z":"2ed7376a.a0a108","name":"","serial":"c382c1fc.71876","x":170,"y":100,"wires":[["b9c3e707.a5b828","5e3b9a9d.3eab14"]]},{"id":"3e9376af.dcddca","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":5,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$H","payloadType":"str","topic":"","x":150,"y":180,"wires":[["b25b3855.cdb898","a793e52e.687db8"]]},{"id":"b25b3855.cdb898","type":"serial out","z":"2ed7376a.a0a108","name":"","serial":"c382c1fc.71876","x":540,"y":300,"wires":[]},{"id":"6ba5867.7d0db78","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":3,"width":0,"height":0,"passthru":false,"label":"+10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"#10OK","payloadType":"str","topic":"","x":150,"y":240,"wires":[["b25b3855.cdb898"]]},{"id":"21f47554.4e776a","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":4,"width":0,"height":0,"passthru":false,"label":"-10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"#-10OK","payloadType":"str","topic":"","x":150,"y":300,"wires":[["b25b3855.cdb898"]]},{"id":"b9c3e707.a5b828","type":"ui_text_input","z":"2ed7376a.a0a108","name":"","label":"","tooltip":"","group":"ae2cc554.fc03e8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":420,"y":40,"wires":[[]]},{"id":"7c4b5049.13c98","type":"ui_chart","z":"2ed7376a.a0a108","name":"","group":"ae2cc554.fc03e8","order":1,"width":"6","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":100,"wires":[[]]},{"id":"d18e0cd8.af6d","type":"switch","z":"2ed7376a.a0a108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"POS:","vt":"str"},{"t":"cont","v":"OHM:","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":100,"wires":[["9f685c7a.596d8"],["53a6b885.97a148"]]},{"id":"1b9ecb7d.fd77e5","type":"ui_text_input","z":"2ed7376a.a0a108","name":"","label":"","tooltip":"","group":"10d24b50.0bb175","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":170,"y":420,"wires":[["f0ecb318.62288"]]},{"id":"f0ecb318.62288","type":"function","z":"2ed7376a.a0a108","name":"","func":"var mover = msg.payload\nglobal.set('mover',mover);\n","outputs":1,"noerr":0,"x":330,"y":420,"wires":[[]]},{"id":"5e3b9a9d.3eab14","type":"csv","z":"2ed7376a.a0a108","name":"","sep":"\\t","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":330,"y":100,"wires":[["fc944f98.5df6c"]]},{"id":"fc944f98.5df6c","type":"split","z":"2ed7376a.a0a108","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":100,"wires":[["d18e0cd8.af6d"]]},{"id":"9f685c7a.596d8","type":"csv","z":"2ed7376a.a0a108","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":690,"y":60,"wires":[["e5937b9.ec0a288"]]},{"id":"e5937b9.ec0a288","type":"split","z":"2ed7376a.a0a108","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":60,"wires":[["7d279a8b.adfca4"]]},{"id":"b474d56f.2438d8","type":"function","z":"2ed7376a.a0a108","name":"","func":"var graf = {topic:\"Posición\", payload:msg.payload }\n\nreturn graf;","outputs":1,"noerr":0,"x":1050,"y":60,"wires":[["7c4b5049.13c98"]]},{"id":"28298de4.f097e2","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"229e5045.b2a5c","order":3,"width":0,"height":0,"passthru":false,"label":"Continuidad","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$C","payloadType":"str","topic":"","x":170,"y":360,"wires":[["b25b3855.cdb898"]]},{"id":"2c9f8a5c.2ad766","type":"function","z":"2ed7376a.a0a108","name":"","func":"var graf2 ={topic:\"Ohms\", payload:msg.payload};\n\nreturn graf2;","outputs":1,"noerr":0,"x":1050,"y":140,"wires":[["7c4b5049.13c98"]]},{"id":"7d279a8b.adfca4","type":"switch","z":"2ed7376a.a0a108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":60,"wires":[["b474d56f.2438d8"]]},{"id":"53a6b885.97a148","type":"csv","z":"2ed7376a.a0a108","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":690,"y":140,"wires":[["378eb4e0.86d82c"]]},{"id":"378eb4e0.86d82c","type":"split","z":"2ed7376a.a0a108","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":140,"wires":[["dd820804.6c1d28"]]},{"id":"dd820804.6c1d28","type":"switch","z":"2ed7376a.a0a108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":140,"wires":[["2c9f8a5c.2ad766"]]},{"id":"29f32450.1cc0ac","type":"chartjs-line","z":"2ed7376a.a0a108","name":"","path":"charts","charttitle":"Chart title","xaxis":"Item","yaxis":"Value","x":1230,"y":220,"wires":[[]]},{"id":"72652dd5.0e9244","type":"inject","z":"2ed7376a.a0a108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":240,"wires":[["29f32450.1cc0ac"]]},{"id":"cdcd10f1.4f8dd","type":"ui_button","z":"2ed7376a.a0a108","name":"","group":"10d24b50.0bb175","order":2,"width":0,"height":0,"passthru":false,"label":"Mover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":480,"wires":[["c873bfff.86c7c"]]},{"id":"c873bfff.86c7c","type":"function","z":"2ed7376a.a0a108","name":"","func":"var mover = global.get('mover')||0;\n\nmsg.payload = '#' + mover + 'OK';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["b25b3855.cdb898"]]},{"id":"fae3b0c.30c8f5","type":"inject","z":"2ed7376a.a0a108","name":"","topic":"","payload":"$L","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":540,"wires":[["b25b3855.cdb898"]]},{"id":"a793e52e.687db8","type":"change","z":"2ed7376a.a0a108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["7c4b5049.13c98"]]}]