flow.json
[{"id":"2e4ff677.5f0f0a","type":"tab","label":"Controles Manuales","disabled":false,"info":""},{"id":"bf49a21c.d84d3","type":"tab","label":"Prueba-InicioFin","disabled":false,"info":""},{"id":"ffc062c9.8d663","type":"tab","label":"Interfaz Serie","disabled":false,"info":""},{"id":"eef0d79.a483428","type":"tab","label":"Correo","disabled":false,"info":""},{"id":"7b4627ba.ea9248","type":"tab","label":"Posicion","disabled":false,"info":""},{"id":"3f31b5c.309b64a","type":"tab","label":"Resistencia","disabled":false,"info":""},{"id":"f4d16046.98595","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"404e6224.1177ac","type":"ui_group","z":"","name":"Manual","tab":"60a8c0c.251b84","order":2,"disp":true,"width":"6","collapse":false},{"id":"43d17cf9.28eb94","type":"ui_group","z":"","name":"Salida","tab":"60a8c0c.251b84","order":1,"disp":true,"width":"6","collapse":true},{"id":"60a8c0c.251b84","type":"ui_tab","z":"","name":"Controles","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7da7b5e.8a3108","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ec408705.dbd5c8","type":"ui_group","z":"","name":"Controles Manuales","tab":"dc0dbb26.085978","order":4,"disp":true,"width":"6","collapse":false},{"id":"671b1cb6.061cf4","type":"ui_group","z":"","name":"Configuraciones","tab":"dc0dbb26.085978","order":3,"disp":true,"width":"25","collapse":true},{"id":"42ddeb93.c98d34","type":"ui_group","z":"","name":"Grafica","tab":"dc0dbb26.085978","order":2,"disp":true,"width":"6","collapse":false},{"id":"c224454.bd20bb8","type":"ui_group","z":"","name":"Extra Datos","tab":"dc0dbb26.085978","order":1,"disp":true,"width":"18","collapse":true},{"id":"dc0dbb26.085978","type":"ui_tab","z":"","name":"Prueba Sensor de Nivel","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"43b02e9a.6601c","type":"ui_group","z":"","name":"Grafica","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"fada1bc4.2e44b8","type":"ncd-comm","z":"","name":"i2c","bus":"i2c-1","commType":"standard","addr":"0","useMux":false,"muxAddr":"112","muxPort":"0"},{"id":"559ea76c.6258f8","type":"serial in","z":"ffc062c9.8d663","name":"","serial":"f4d16046.98595","x":250,"y":80,"wires":[["ae924a20.0d28b8"]]},{"id":"ae924a20.0d28b8","type":"link out","z":"ffc062c9.8d663","name":"Entrada-Serial","links":["5ed4b8c.5541648","97dd1cb4.5ca81","c231c2ec.df2f7","3c4db16.ada8f4e","9e2f2a92.0aa6c8","7cff4843.dbb808","a7c9be33.c39d8","8fc394b1.b75818"],"x":460,"y":80,"wires":[]},{"id":"223f09b3.44f3c6","type":"serial out","z":"ffc062c9.8d663","name":"","serial":"f4d16046.98595","x":400,"y":160,"wires":[]},{"id":"e1809cda.79b1b","type":"link in","z":"ffc062c9.8d663","name":"Salida-Serie","links":["51749d81.752024","11cf2ff0.6d0f3","2ea1b570.40289a"],"x":195,"y":160,"wires":[["223f09b3.44f3c6"]]},{"id":"ac7cc9d3.a1bac8","type":"ui_button","z":"2e4ff677.5f0f0a","name":"","group":"404e6224.1177ac","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$H","payloadType":"str","topic":"","x":130,"y":340,"wires":[["51749d81.752024"]]},{"id":"3cb4f32e.4912cc","type":"ui_button","z":"2e4ff677.5f0f0a","name":"","group":"404e6224.1177ac","order":2,"width":0,"height":0,"passthru":false,"label":"+10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"#10OK","payloadType":"str","topic":"","x":130,"y":220,"wires":[["51749d81.752024"]]},{"id":"47c5f1ae.d3408","type":"ui_button","z":"2e4ff677.5f0f0a","name":"","group":"404e6224.1177ac","order":3,"width":0,"height":0,"passthru":false,"label":"-10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"#-10OK","payloadType":"str","topic":"","x":130,"y":260,"wires":[["51749d81.752024"]]},{"id":"c5f42b7d.443478","type":"ui_button","z":"2e4ff677.5f0f0a","name":"","group":"404e6224.1177ac","order":1,"width":0,"height":0,"passthru":false,"label":"Continuidad","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$C","payloadType":"str","topic":"","x":150,"y":300,"wires":[["51749d81.752024"]]},{"id":"2a95b752.1dc398","type":"ui_button","z":"2e4ff677.5f0f0a","name":"","group":"404e6224.1177ac","order":6,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Apagar","x":140,"y":440,"wires":[["ed2f0004.b0a82","7c389f77.885ee"]]},{"id":"ed2f0004.b0a82","type":"exec","z":"2e4ff677.5f0f0a","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":500,"wires":[[],[],[]]},{"id":"7c389f77.885ee","type":"ui_toast","z":"2e4ff677.5f0f0a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Apagando, espere 30 segundos para desconectar","name":"","x":370,"y":440,"wires":[]},{"id":"51749d81.752024","type":"link out","z":"2e4ff677.5f0f0a","name":"Control Manual","links":["efd8f739.654678","e1809cda.79b1b"],"x":595,"y":280,"wires":[]},{"id":"b48f5733.d1f788","type":"function","z":"2e4ff677.5f0f0a","name":"Guardar Argumento para mover","func":"var mover = msg.payload\nglobal.set('mover',mover);\n","outputs":1,"noerr":0,"x":370,"y":100,"wires":[[]]},{"id":"5836037c.43402c","type":"ui_text_input","z":"2e4ff677.5f0f0a","name":"Argumento","label":"","tooltip":"","group":"404e6224.1177ac","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":150,"y":100,"wires":[["b48f5733.d1f788"]]},{"id":"bd759aa3.dbfba8","type":"function","z":"2e4ff677.5f0f0a","name":"Enviar a mover:argumento","func":"var mover = global.get('mover')||0;\n\nmsg.payload = '#' + mover + 'OK';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["51749d81.752024"]]},{"id":"ede80e11.69e27","type":"ui_button","z":"2e4ff677.5f0f0a","name":"","group":"404e6224.1177ac","order":5,"width":0,"height":0,"passthru":false,"label":"Mover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":140,"wires":[["bd759aa3.dbfba8"]]},{"id":"cc145139.47c7a","type":"comment","z":"2e4ff677.5f0f0a","name":"Controles manuales","info":"","x":170,"y":40,"wires":[]},{"id":"30c2f423.4cb48c","type":"ui_chart","z":"2e4ff677.5f0f0a","name":"","group":"43d17cf9.28eb94","order":1,"width":0,"height":0,"label":"Grafica Ohm/mm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":910,"y":80,"wires":[[]]},{"id":"9a2c4cce.5b031","type":"link in","z":"2e4ff677.5f0f0a","name":"Grafica Manual","links":["9882200c.4277a","edefc569.4ac0a8"],"x":715,"y":80,"wires":[["30c2f423.4cb48c"]]},{"id":"4cd767cd.263d78","type":"ui_text","z":"2e4ff677.5f0f0a","group":"43d17cf9.28eb94","order":10,"width":0,"height":0,"name":"","label":"Respuesta","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":160,"wires":[]},{"id":"9e2f2a92.0aa6c8","type":"link in","z":"2e4ff677.5f0f0a","name":"Salida","links":["ae924a20.0d28b8"],"x":715,"y":160,"wires":[["4cd767cd.263d78"]]},{"id":"e318ba8f.cd5078","type":"switch","z":"7b4627ba.ea9248","name":"Filtrar posicion","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"POS:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":60,"wires":[["37f687a5.06ecc8"]]},{"id":"6f13e75.d7d1a18","type":"debug","z":"7b4627ba.ea9248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"506d2c6e.a2ef74","type":"function","z":"7b4627ba.ea9248","name":"Guardar posicion","func":"var pos = msg.payload\n\nglobal.set('pos',pos)\nreturn msg\n","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["b0bcf812.8cc588"]]},{"id":"e9cf49d1.96d888","type":"switch","z":"7b4627ba.ea9248","name":"Filtrar Numero","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":300,"wires":[["506d2c6e.a2ef74"]]},{"id":"b0bcf812.8cc588","type":"function","z":"7b4627ba.ea9248","name":"Graficar Posicion","func":"var pos = global.get('pos')\n\nvar date = new Date()\n\nvar graf = {\n            topic:\"pos\", \n            payload:pos \n           }\n\nreturn graf;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["edefc569.4ac0a8","6f13e75.d7d1a18"]]},{"id":"edefc569.4ac0a8","type":"link out","z":"7b4627ba.ea9248","name":"Posicion","links":["9a2c4cce.5b031","5cd93e40.4dd35"],"x":495,"y":420,"wires":[]},{"id":"7cff4843.dbb808","type":"link in","z":"7b4627ba.ea9248","name":"POS filtro","links":["ae924a20.0d28b8"],"x":195,"y":60,"wires":[["e318ba8f.cd5078"]]},{"id":"11cf2ff0.6d0f3","type":"link out","z":"bf49a21c.d84d3","name":"Prueba","links":["e1809cda.79b1b"],"x":1055,"y":100,"wires":[]},{"id":"10993540.492a3b","type":"function","z":"bf49a21c.d84d3","name":"","func":"var lleno = msg.payload\nglobal.set('lleno',lleno)","outputs":1,"noerr":0,"x":610,"y":300,"wires":[[]]},{"id":"cab0ed98.033ee","type":"function","z":"bf49a21c.d84d3","name":"","func":"var vacio = msg.payload\nglobal.set('vacio',vacio);","outputs":1,"noerr":0,"x":610,"y":100,"wires":[[]]},{"id":"31361dd7.0e1a92","type":"function","z":"bf49a21c.d84d3","name":"","func":"var reserva = msg.payload\nglobal.set('reserva',reserva);","outputs":1,"noerr":0,"x":610,"y":140,"wires":[[]]},{"id":"e6a8723a.7756f","type":"ui_button","z":"bf49a21c.d84d3","name":"","group":"ec408705.dbd5c8","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$H","payloadType":"str","topic":"","x":870,"y":120,"wires":[["11cf2ff0.6d0f3"]]},{"id":"56359b04.010894","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Lleno","tooltip":"","group":"671b1cb6.061cf4","order":8,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":450,"y":300,"wires":[["10993540.492a3b"]]},{"id":"acf97a39.1c9d38","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Vacio","tooltip":"","group":"671b1cb6.061cf4","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":450,"y":100,"wires":[["cab0ed98.033ee"]]},{"id":"9e6b7ac9.b161f8","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Reserva","tooltip":"","group":"671b1cb6.061cf4","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":440,"y":140,"wires":[["31361dd7.0e1a92"]]},{"id":"411c7ce7.dbae74","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"1/4","tooltip":"","group":"671b1cb6.061cf4","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":450,"y":180,"wires":[["29af8e25.3f7372"]]},{"id":"841b44b7.543f18","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"1/2","tooltip":"","group":"671b1cb6.061cf4","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":450,"y":220,"wires":[["ca748cb8.ebaa5"]]},{"id":"bf8046f5.4eb7b8","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"3/4","tooltip":"","group":"671b1cb6.061cf4","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":450,"y":260,"wires":[["8e0fecdc.1b2f4"]]},{"id":"29af8e25.3f7372","type":"function","z":"bf49a21c.d84d3","name":"","func":"var uncuarto = msg.payload\nglobal.set('uncuarto',uncuarto);","outputs":1,"noerr":0,"x":610,"y":180,"wires":[[]]},{"id":"ca748cb8.ebaa5","type":"function","z":"bf49a21c.d84d3","name":"","func":"var medio = msg.payload\nglobal.set('medio',medio);","outputs":1,"noerr":0,"x":610,"y":220,"wires":[[]]},{"id":"8e0fecdc.1b2f4","type":"function","z":"bf49a21c.d84d3","name":"","func":"var trescuarto = msg.payload\nglobal.set('trescuarto',trescuarto);","outputs":1,"noerr":0,"x":610,"y":260,"wires":[[]]},{"id":"66f77045.b16d","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Fin","tooltip":"","group":"671b1cb6.061cf4","order":9,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":450,"y":340,"wires":[["2e31d58e.64490a"]]},{"id":"2e31d58e.64490a","type":"function","z":"bf49a21c.d84d3","name":"","func":"var fin = msg.payload\nglobal.set('fin',fin)","outputs":1,"noerr":0,"x":610,"y":340,"wires":[[]]},{"id":"6f8c1c4f.25afb4","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Inicio","tooltip":"","group":"671b1cb6.061cf4","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":450,"y":60,"wires":[["8858cb94.41ec58"]]},{"id":"8858cb94.41ec58","type":"function","z":"bf49a21c.d84d3","name":"","func":"var inicio = msg.payload\nglobal.set('inicio',inicio);","outputs":1,"noerr":0,"x":610,"y":60,"wires":[[]]},{"id":"4a89c75b.703cc8","type":"function","z":"bf49a21c.d84d3","name":"inicio","func":"var inicio = global.get('inicio')||0;\n\nmsg.payload = '%' + inicio\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":560,"wires":[["ef70385b.533b98","2ea1b570.40289a"]]},{"id":"ef70385b.533b98","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":600,"wires":[["4ea76dd7.6ed8b4"]]},{"id":"4ea76dd7.6ed8b4","type":"function","z":"bf49a21c.d84d3","name":"vacio","func":"var vacio = global.get('vacio')||0;\n\nmsg.payload = 'X' + vacio + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":640,"wires":[["80eb6042.f7df","2ea1b570.40289a"]]},{"id":"80eb6042.f7df","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":680,"wires":[["49a40710.873728"]]},{"id":"49a40710.873728","type":"function","z":"bf49a21c.d84d3","name":"reserva","func":"var reserva = global.get('reserva')||0;\n\nmsg.payload = 'Y' + reserva + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":160,"y":720,"wires":[["2ea1b570.40289a","9ba6e13e.170ce"]]},{"id":"18d4b5a4.1e97fa","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":1160,"wires":[["b2c893c7.bd4b1"]]},{"id":"b2c893c7.bd4b1","type":"function","z":"bf49a21c.d84d3","name":"Prueba","func":"msg.payload = '$P'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":160,"y":1200,"wires":[["2ea1b570.40289a"]]},{"id":"2bde0f04.591a7","type":"ui_button","z":"bf49a21c.d84d3","name":"","group":"671b1cb6.061cf4","order":9,"width":0,"height":0,"passthru":false,"label":"Iniciar Prueba","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$C","payloadType":"str","topic":"","x":160,"y":480,"wires":[["7f0b027c.2503cc","cb54f55.11b0d08","2ea1b570.40289a","25c0d344.96acbc"]]},{"id":"2ea1b570.40289a","type":"link out","z":"bf49a21c.d84d3","name":"Prueba","links":["e1809cda.79b1b"],"x":515,"y":840,"wires":[]},{"id":"9ba6e13e.170ce","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":760,"wires":[["4cc693f4.36736c"]]},{"id":"4cc693f4.36736c","type":"function","z":"bf49a21c.d84d3","name":"1/4","func":"var uncuarto = global.get('uncuarto')||0;\n\nmsg.payload = 'Z' + uncuarto + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":800,"wires":[["e9bc0f06.e3e94","2ea1b570.40289a"]]},{"id":"8fc394b1.b75818","type":"link in","z":"bf49a21c.d84d3","name":"","links":["ae924a20.0d28b8"],"x":835,"y":180,"wires":[["e5197c4c.531bd"]]},{"id":"e5197c4c.531bd","type":"ui_text","z":"bf49a21c.d84d3","group":"42ddeb93.c98d34","order":2,"width":0,"height":0,"name":"","label":"Respuesta","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":180,"wires":[]},{"id":"e9bc0f06.e3e94","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":840,"wires":[["29cb344b.b2b79c"]]},{"id":"29cb344b.b2b79c","type":"function","z":"bf49a21c.d84d3","name":"1/2","func":"var medio = global.get('medio')||0;\n\nmsg.payload = 'J' + medio + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":880,"wires":[["2ea1b570.40289a","60447141.061"]]},{"id":"60447141.061","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":920,"wires":[["becaf1ee.cc558"]]},{"id":"becaf1ee.cc558","type":"function","z":"bf49a21c.d84d3","name":"3/4","func":"var trescuarto = global.get('trescuarto')||0;\n\nmsg.payload = 'K' + trescuarto + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":960,"wires":[["2ea1b570.40289a","e56b3a77.e64028"]]},{"id":"e56b3a77.e64028","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":1000,"wires":[["1cbf988f.203e57"]]},{"id":"1cbf988f.203e57","type":"function","z":"bf49a21c.d84d3","name":"Lleno","func":"var lleno = global.get('lleno')\n\nmsg.payload = 'Q' + lleno\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":1040,"wires":[["2ea1b570.40289a","4a008368.5eba5c"]]},{"id":"4a008368.5eba5c","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":1080,"wires":[["65e06a67.58d514"]]},{"id":"65e06a67.58d514","type":"function","z":"bf49a21c.d84d3","name":"Fin","func":"var fin = global.get('fin')||0;\n\nmsg.payload = '/' + fin + 'OK'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":1120,"wires":[["2ea1b570.40289a","18d4b5a4.1e97fa"]]},{"id":"27394e12.8c28a2","type":"ui_button","z":"bf49a21c.d84d3","name":"","group":"671b1cb6.061cf4","order":11,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":120,"y":60,"wires":[["6f8c1c4f.25afb4","acf97a39.1c9d38","9e6b7ac9.b161f8","411c7ce7.dbae74","841b44b7.543f18","bf8046f5.4eb7b8","56359b04.010894","66f77045.b16d"]]},{"id":"7f0b027c.2503cc","type":"file","z":"bf49a21c.d84d3","name":"Reiniciar archivo","filename":"/home/pi/Desktop/archivo.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","x":480,"y":500,"wires":[[]]},{"id":"1d6a6c8b.92af53","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Nombre","tooltip":"","group":"c224454.bd20bb8","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":780,"y":500,"wires":[["cc7e6d2b.40c86"]]},{"id":"524f6861.0a1fd8","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Numero de Parte","tooltip":"","group":"c224454.bd20bb8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":810,"y":540,"wires":[["85cde41b.095b38"]]},{"id":"42e0ee1c.48b9f","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Fecha de Muestra","tooltip":"","group":"c224454.bd20bb8","order":3,"width":0,"height":0,"passthru":false,"mode":"week","delay":"0","topic":"","x":810,"y":580,"wires":[["7fbc22a5.2f5c4c"]]},{"id":"12b52605.229b4a","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Estatus de dibujo","tooltip":"","group":"c224454.bd20bb8","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":810,"y":620,"wires":[["3edca7ce.13d248"]]},{"id":"b3682dc6.c833b","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Numero de Muestra","tooltip":"","group":"c224454.bd20bb8","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":820,"y":660,"wires":[["b4369fea.f83dd"]]},{"id":"1d0cbb7a.86b435","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Tipo de Prueba","tooltip":"","group":"c224454.bd20bb8","order":6,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":800,"y":700,"wires":[["9384dc33.49bdb"]]},{"id":"44f459d5.dc3c58","type":"ui_text_input","z":"bf49a21c.d84d3","name":"","label":"Comentarios","tooltip":"","group":"c224454.bd20bb8","order":7,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":790,"y":740,"wires":[["f99399bc.49ff98"]]},{"id":"cc7e6d2b.40c86","type":"function","z":"bf49a21c.d84d3","name":"Guardar nombre","func":"var nombre = msg.payload\nglobal.set('nombre',nombre);","outputs":1,"noerr":0,"x":1220,"y":500,"wires":[[]]},{"id":"85cde41b.095b38","type":"function","z":"bf49a21c.d84d3","name":"Guardar nuemero de parte","func":"var nparte = msg.payload\nglobal.set('nparte',nparte);","outputs":1,"noerr":0,"x":1180,"y":540,"wires":[[]]},{"id":"345e54fc.a7940c","type":"file","z":"bf49a21c.d84d3","name":"Sobreescribir en Archivo","filename":"/home/pi/Desktop/archivo.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1250,"y":1000,"wires":[[]]},{"id":"8a220677.d9ba98","type":"function","z":"bf49a21c.d84d3","name":"Metadatos","func":"var nombre = global.get('nombre')\nvar nparte = global.get('nparte')\nvar fmuestra = global.get('fmuestra')\nvar edibujo = global.get ('edibujo')\nvar nmuestra = global.get ('nmuestra')\nvar tprueba = global.get ('tprueba')\nvar comentarios = global.get ('comentarios')\n\nmsg.payload = 'Nombre:' + nombre + '\\n'\nmsg.payload += 'Numero de Parte: ' + nparte + '\\n'\nmsg.payload += 'Fecha de muestra: ' + fmuestra + '\\n'\nmsg.payload += 'Estatus dibujo: ' + edibujo + '\\n'\nmsg.payload += 'Numero de muestra: ' + nmuestra + '\\n'\nmsg.payload += 'Tipo de prueba: ' + tprueba + '\\n'\nmsg.payload += 'Comentarios: ' + comentarios + '\\n'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":1000,"wires":[["345e54fc.a7940c"]]},{"id":"a7c9be33.c39d8","type":"link in","z":"bf49a21c.d84d3","name":"","links":["ae924a20.0d28b8"],"x":555,"y":1000,"wires":[["ae4a8589.0d9fd8","3941d49e.4a0e5c"]]},{"id":"7fbc22a5.2f5c4c","type":"function","z":"bf49a21c.d84d3","name":"Guardar fecha de muestra","func":"var fmuestra = msg.payload\nglobal.set('fmuestra',fmuestra);","outputs":1,"noerr":0,"x":1190,"y":580,"wires":[[]]},{"id":"3edca7ce.13d248","type":"function","z":"bf49a21c.d84d3","name":"Guardar estatus de dibujo","func":"var edibujo = msg.payload\nglobal.set('edibujo',edibujo);","outputs":1,"noerr":0,"x":1190,"y":620,"wires":[[]]},{"id":"b4369fea.f83dd","type":"function","z":"bf49a21c.d84d3","name":"Guardar numero de muestra","func":"var nmuestra = msg.payload\nglobal.set('nmuestra',nmuestra);","outputs":1,"noerr":0,"x":1180,"y":660,"wires":[[]]},{"id":"9384dc33.49bdb","type":"function","z":"bf49a21c.d84d3","name":"Guardar tipo de prueba","func":"var tprueba = msg.payload\nglobal.set('tprueba',tprueba);","outputs":1,"noerr":0,"x":1190,"y":700,"wires":[[]]},{"id":"f99399bc.49ff98","type":"function","z":"bf49a21c.d84d3","name":"Guardar comentarios","func":"var comentarios = msg.payload\nglobal.set('comentarios',comentarios);","outputs":1,"noerr":0,"x":1200,"y":740,"wires":[[]]},{"id":"ae4a8589.0d9fd8","type":"switch","z":"bf49a21c.d84d3","name":"Filtra Inicio de Prueba","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Buscando posicion de inicio...","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":1000,"wires":[["8a220677.d9ba98"]]},{"id":"dd8f2714.ce9298","type":"file","z":"bf49a21c.d84d3","name":"Guardar en archivo","filename":"/home/pi/Desktop/archivo.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1230,"y":1120,"wires":[[]]},{"id":"7b350812.65f1a8","type":"function","z":"bf49a21c.d84d3","name":"Resultados","func":"var indice = msg.payload\nvar pos = global.get('pos')\nvar ohm = global.get('ohm')\n\nmsg.payload = indice + '\\t'\nmsg.payload += pos + 'mm: ' + '\\t'\nmsg.payload += ohm + 'ohm: ' +  '\\n'\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":1120,"wires":[["dd8f2714.ce9298"]]},{"id":"cb54f55.11b0d08","type":"ui_toast","z":"bf49a21c.d84d3","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Enviando configuraciones","name":"","x":490,"y":560,"wires":[]},{"id":"3941d49e.4a0e5c","type":"switch","z":"bf49a21c.d84d3","name":"Filtro de Resultados de  Prueba","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Posicion de inicio","vt":"str"},{"t":"cont","v":"Posicion en vacio","vt":"str"},{"t":"cont","v":"Posicion en reserva","vt":"str"},{"t":"cont","v":"Posicion en 1/4","vt":"str"},{"t":"cont","v":"Posicion en 1/2","vt":"str"},{"t":"cont","v":"Posicion en 3/4","vt":"str"},{"t":"cont","v":"Posicion en Lleno","vt":"str"},{"t":"cont","v":"Posicion en Full","vt":"str"},{"t":"cont","v":"Continuidad:","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":750,"y":1120,"wires":[["7b350812.65f1a8"],["7b350812.65f1a8"],["7b350812.65f1a8"],["7b350812.65f1a8"],["7b350812.65f1a8"],["7b350812.65f1a8"],["7b350812.65f1a8"],["7b350812.65f1a8"],["7b350812.65f1a8"]]},{"id":"d7b66fc4.ae278","type":"comment","z":"bf49a21c.d84d3","name":"Argumentos para la prueba","info":"","x":290,"y":20,"wires":[]},{"id":"f8919e8b.25b49","type":"comment","z":"bf49a21c.d84d3","name":"Enviar parametros de la prueba y ejecutar","info":"","x":220,"y":440,"wires":[]},{"id":"d76ef7d9.3b3dd8","type":"comment","z":"bf49a21c.d84d3","name":"Metadatos","info":"","x":780,"y":440,"wires":[]},{"id":"a82f730f.f7ebb","type":"comment","z":"bf49a21c.d84d3","name":"Controles manuales","info":"","x":890,"y":20,"wires":[]},{"id":"91a159de.3023a8","type":"comment","z":"bf49a21c.d84d3","name":"Filtrar información de resultados de prueba en ejecucion","info":"","x":720,"y":940,"wires":[]},{"id":"15bffe59.4dd0d2","type":"ui_button","z":"bf49a21c.d84d3","name":"","group":"ec408705.dbd5c8","order":1,"width":0,"height":0,"passthru":false,"label":"Continuidad","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$C","payloadType":"str","topic":"","x":890,"y":80,"wires":[["11cf2ff0.6d0f3"]]},{"id":"25c0d344.96acbc","type":"delay","z":"bf49a21c.d84d3","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":520,"wires":[["4a89c75b.703cc8"]]},{"id":"66cc9aae.009264","type":"ui_chart","z":"bf49a21c.d84d3","name":"","group":"42ddeb93.c98d34","order":1,"width":0,"height":0,"label":"Ohm/mm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":980,"y":240,"wires":[[]]},{"id":"5cd93e40.4dd35","type":"link in","z":"bf49a21c.d84d3","name":"Grafica_InicioFin","links":["edefc569.4ac0a8","9882200c.4277a"],"x":835,"y":240,"wires":[["66cc9aae.009264"]]},{"id":"f74aaa3a.75e218","type":"e-mail","z":"eef0d79.a483428","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"Enviar correo","x":590,"y":160,"wires":[]},{"id":"964a5192.031bb","type":"ui_text_input","z":"eef0d79.a483428","name":"","label":"Correo","tooltip":"","group":"42ddeb93.c98d34","order":3,"width":0,"height":0,"passthru":true,"mode":"email","delay":"0","topic":"","x":110,"y":80,"wires":[["8e0ce7de.8a4cb8"]]},{"id":"8e0ce7de.8a4cb8","type":"function","z":"eef0d79.a483428","name":"Guardar Correo a enviar","func":"var correo1 = msg.payload\n\nglobal.set(\"correo\",correo1)\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"40bd6ab2.b6e484","type":"ui_button","z":"eef0d79.a483428","name":"","group":"42ddeb93.c98d34","order":4,"width":0,"height":0,"passthru":false,"label":"Enviar Correo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":160,"wires":[["87dbb293.4cd5b"]]},{"id":"87dbb293.4cd5b","type":"function","z":"eef0d79.a483428","name":"Adjunta Resultados","func":"var correo1 = global.get(\"correo\")\n\n\n    msg.to = correo1\n    msg.payload = \"Resultados de la prueba\"\n    msg.topic = \"Resultados de pruebas\"\n    \n   msg.attachments = [{\n    filename: 'archivo.txt',\n    path: '/home/pi/Desktop/archivo.txt',\n    content: msg.payload\n}];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["f74aaa3a.75e218","222fa9cb.6ff546"]]},{"id":"222fa9cb.6ff546","type":"ui_toast","z":"eef0d79.a483428","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Correo enviado","name":"","x":610,"y":240,"wires":[]},{"id":"e85eebde.8d7218","type":"ncd-ads1115","z":"3f31b5c.309b64a","name":"","connection":"fada1bc4.2e44b8","addr":"72","interval":"2000","outputs":1,"output_all":false,"output_mult":1,"channel_1":"_none","channel_2":"5","channel_3":"_none","channel_4":"_none","gain":"2","mode":"2","rate":4,"compMode":"1","compPol":0,"compLat":0,"compQueue":"0","delay":"100","x":120,"y":140,"wires":[["95e148c1.340498"]]},{"id":"46106556.6db65c","type":"debug","z":"3f31b5c.309b64a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":300,"wires":[]},{"id":"71e371bf.e96c9","type":"function","z":"3f31b5c.309b64a","name":"Guarda Voltaje en Ohms ","func":"// Resistencia conocica 499.5 Ohm\n// Ganancia selecionada 6.144v\n// Voltaje de entrada 4.99 V\n\nvar ohm \nvar vol\nvar adc = msg.payload\n\nvol = adc * (4.096 / 65535)\nohm = 499.5 * (1 / ((4.99 / vol) - 1))\nohm = ohm.toFixed(2)\n\n\n\nglobal.set('ohm',ohm)\nmsg.payload = ohm\n\nreturn msg\n","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["66d43bd9.b17994"]]},{"id":"66d43bd9.b17994","type":"function","z":"3f31b5c.309b64a","name":"Graficar Resistencia","func":"var ohm = global.get('ohm')\n\nvar graf2 ={topic:\"Ohms\", payload:ohm};\n\nreturn graf2;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["9882200c.4277a","46106556.6db65c"]]},{"id":"9882200c.4277a","type":"link out","z":"3f31b5c.309b64a","name":"Resistencia","links":["5cd93e40.4dd35","9a2c4cce.5b031"],"x":735,"y":420,"wires":[]},{"id":"b7326fc1.1d5f8","type":"split","z":"3f31b5c.309b64a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":240,"wires":[["71e371bf.e96c9"]]},{"id":"95e148c1.340498","type":"rbe","z":"3f31b5c.309b64a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":210,"y":200,"wires":[["b7326fc1.1d5f8"]]},{"id":"37f687a5.06ecc8","type":"csv","z":"7b4627ba.ea9248","name":"POS:Numero","sep":":","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":310,"y":120,"wires":[["63f45dd1.ea6eb4"]]},{"id":"63f45dd1.ea6eb4","type":"split","z":"7b4627ba.ea9248","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":180,"wires":[["f5b7a8f4.d032e8"]]},{"id":"f5b7a8f4.d032e8","type":"function","z":"7b4627ba.ea9248","name":"forzar a numero","func":"var text = msg.payload\nvar num = parseFloat(text)\n\nmsg.payload = num\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["e9cf49d1.96d888"]]}]